{% extends 'base.html' %}
{% load static %}
{% block title %} Interfaces{% endblock %}
{% block main_heading %}
    <h1>List of all interfaces of: {{ router_name }} ({{ member_number }} Records)</h1>
{% endblock %}  

{% block body %}
    <style>
        table, th, td {
        border: 1px solid black;
        }
    </style>
    <hr/>
    <h2> Router Ports: </h2>
        <table border="1">
            <tr>
                <th>No.</th>
                <th>Router</th>
                <th>Interface </th>
                <th>Description</th>
                <th>Customer-ID</th>
                <th>Customer-IP</th>
                <th>Profile</th>
                <th>PE VPN</th>
                <th>Encapsulation</th>
                <th>Port Type</th>
                <th>Reserve</th>
            </tr>   
            {% for x in interface %}  
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ x.Router_Name }}</td>
                    <td>{{ x.Int_Name }}</td>
                    <td>{{ x.Description }}</td>
                    <td>{{ x.int_ID }}</td>
                    <td>{{ x.IP }}</td>
                    <td>{{ x.Profile }}</td>
                    <td>{{ x.VPN }}</td>
                    <td>{{ x.Encapsulation }}</td>
                    <td>{{ x.Int_type }}</td>
                    <td><a href="{% url 'reserve:reserve-int' x.id %}" class="btn btn-primary">Reserve</a></td>
                </tr>
            {% endfor %}
        </table>


{% endblock %}