{% extends 'base.html' %}
{% load static %}
    
    {% block title %} All Settings {% endblock %}        
    {% block main_heading %}    {% endblock %}
    {% block header_content %}{% endblock %}
       
    {% block body %} 
    <table border="1" id="myTable">
        <tr>
            <th>No.</th>
                                      
        </tr>   
         
        <tr>
            <td>Settings of the hole Application</td>
           
        </tr>  
        
    </table>         

    {% endblock %}