{% extends 'base.html' %}
{% load static %}   
{% block title %} Interface Home {% endblock %}        
{% block main_heading %}   {% endblock %}
{% block header_content %}  {% endblock %}
    
{% block body %} 
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'bbb.jpg' %}"  alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Network Automation of TCI Khorasan's DATA department </h1>
                <p>On this site, we will collect and summarize our customers' information configured on Network devices to automate some network resource allocation procedures and find probable misconfigurations to solve. </p>  
            </div>
        </div>
        
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Search </h2>
                        <p class="card-text">In this section, It is possible to find several customer information like ID, Description, IP, and Port Number.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'interfaces:search' %}">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Config Files </h2>
                        <p class="card-text"> This section is for management of all network devices configuration files . </p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'routers:list' %}">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Interface Settings</h2>
                        <p class="card-text">This section is used to work on Database tables. </p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'interfaces:settings' %}">More Info</a></div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}